@using VotingApplication.Controllers
@model AddCandidateViewModel
@{
    // move this code into the C# class so it is easier to edit
    ViewData["Purpose1"] = "Filter Users";
    ViewData["Purpose2"] = "Filter Ballot";
    ViewData["Submit"] = "Filter";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>

<h1>Add Candidate</h1>
<form asp-action="AddCandidate" method="post" id="formAdd">
    <input asp-for="BallotId" class="hiddenBallot" />
    <input asp-for="UserId" class="hiddenUser" />
</form>
<form method="post" id="formFilter">
    <input asp-for="BallotId" class="hiddenBallot" />
    <input asp-for="BallotSearch.BallotId" class="hiddenBallot" />
    <input asp-for="UserId" class="hiddenUser" />
    <input asp-for="UserSearch.UserId" class="hiddenUser" />
</form>

<div id="filterUserOptions">
    <h2 class="form-signin-heading">@ViewData["Purpose1"]</h2>
    <div class="form-group">
        <label asp-for="UserSearch.Username"></label>
        <input form="formFilter" asp-for="UserSearch.Username" class="form-control" placeholder="Username" />
        <span asp-validation-for="UserSearch.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserSearch.FirstName"></label>
        <input form="formFilter" asp-for="UserSearch.FirstName" class="form-control" placeholder="First Name" />
        <span asp-validation-for="UserSearch.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserSearch.LastName"></label>
        <input form="formFilter" asp-for="UserSearch.LastName" class="form-control" placeholder="Last Name" />
        <span asp-validation-for="UserSearch.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserSearch.Party"></label>
        <select form="formFilter" asp-for="UserSearch.Party" class="form-control">
            <option selected value="">Select a party</option>
            <option>Democrat</option>
            <option>Republican</option>
            <option>Independent</option>
            <option>Other</option>
        </select>
        <span asp-validation-for="UserSearch.Party" class="text-danger"></span>
    </div>
    <button id="filterUsers" class="btn btn-primary">@ViewData["Submit"] </button>
</div>
<div id="filterUserSelect">
    <h2 class="form-signin-heading">User selected</h2>
</div>
<div id="userTable"></div>


<div id="filterBallotOptions">
    <h2 class="form-signin-heading">@ViewData["Purpose2"]</h2>
    <div class="form-group">
        <label asp-for="BallotSearch.BallotName"></label>
        <input form="formFilter" asp-for="BallotSearch.BallotName" class="form-control" placeholder="Ballot Name" />
        <span asp-validation-for="BallotSearch.BallotName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BallotSearch.ElectionDay"></label>
        <input form="formFilter" asp-for="BallotSearch.ElectionDay" class="form-control" placeholder="MM/DD/YYYY" />
        <span asp-validation-for="BallotSearch.ElectionDay" class="text-danger"></span>
    </div>
    <button id="filterBallot" class="btn btn-primary">@ViewData["Submit"]</button>
</div>
<div id="filterBallotSelect">
    <h2 class="form-signin-heading">Ballot selected</h2>
</div>
<div id="ballotTable"></div>

<input id="addButton" form="formAdd" type="submit" class="btn btn-primary" value="Add Candidate" />

<script type="text/javascript">
    var userSelected = false;
    var ballotSelected = false;

    var filterUsers = function () {
        $.ajax({
            url: "@Url.Action(nameof(AdminController.FilterUsers), nameof(AdminController).RemoveController())",
            method: "post",
            cache: false,
            data: $("#formFilter").serialize(),
            success: function (data, statusText, xhdr) {
                $("#userTable").html(data);
            },
            error: function (data, statusText, xhdr) {
                $("#userTable").html(JSON.stringify(xhdr));
            }
        });
    }

    var filterBallot = function () {
        $.ajax({
            url: "@Url.Action(nameof(AdminController.FilterBallot), nameof(AdminController).RemoveController())",
            method: "post",
            cache: false,
            data: $("#formFilter").serialize(),
            success: function (data, statusText, xhdr) {
                $("#ballotTable").html(data);
            },
            error: function (data, statusText, xhdr) {
                $("#ballotTable").html(JSON.stringify(xhdr));
            }
        });
    }

    filterUsers();
    filterBallot();

    var selectUser = function (userId) {
        $('.hiddenUser').val(userId);
        $('#filterUserOptions').hide();
        $('#filterUserSelect').show();
        userSelected = true;
        if (userSelected && ballotSelected)
            $('#addButton').show();
        filterUsers();
    }

    var deselectUser = function () {
        $('.hiddenUser').val('');
        $('#filterUserOptions').show();
        $('#filterUserSelect').hide();
        $('#addButton').hide();
        userSelected = false;
        filterUsers();
    }

    deselectUser();

    var selectBallot = function (ballotId) {
        $('.hiddenBallot').val(ballotId);
        $('#filterBallotOptions').hide();
        $('#filterBallotSelect').show();
        ballotSelected = true;
        if (userSelected && ballotSelected)
            $('#addButton').show();
        filterBallot();
    }

    var deselectBallot = function () {
        $('.hiddenBallot').val('');
        $('#filterBallotOptions').show();
        $('#filterBallotSelect').hide();
        $('#addButton').hide();
        ballotSelected = false;
        filterBallot();
    }

    deselectBallot();

    $(document).ready(function () {
        $("#filterUsers").click(filterUsers);
        $("#filterBallot").click(filterBallot);
    });
</script>
