@using VotingApplication.Controllers
<h1>Welcome to your dashboard</h1>
<!-- replace with better information later-->
<p>
    Hello @(ViewData["UserName"]), welcome to our voting web application.
    The dashboard will show you important information in the future.
</p>

<a asp-controller="@nameof(VoterRegistrationController).RemoveController()" asp-action="@nameof(VoterRegistrationController.Register)" class="nav-link">Start Voter Registration</a>
<a asp-controller="@nameof(VoterRegistrationController).RemoveController()" asp-action="@nameof(VoterRegistrationController.Address)" class="nav-link">Register Address</a>
<a asp-controller="@nameof(VoterRegistrationController).RemoveController()" asp-action="@nameof(VoterRegistrationController.Demographics)" class="nav-link">Register Demographics</a>
<a asp-controller="@nameof(VoterRegistrationController).RemoveController()" asp-action="@nameof(VoterRegistrationController.FinalizeRegistration)" class="btn btn-primary">Finalize Registration</a>
<br />

